h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(41, 117, 117);
}
 body {
    max-height: fit-content;
    max-width: fit-content
 }
button {
    height: 30px;
    width: 100px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    display: block;
    margin: auto;
}

.lives {
    display: block;
    margin: auto;  
    height: 30px;
    width: 100px;
    margin-bottom: 10px;
    text-align: center;
}

.clock {
    height: 30px;
    width: 200px;
    background: linear-gradient(rgb(244, 241, 241), rgb(12, 86, 83)) ;
    border-radius: 10%;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    display: block;
    font-size: 25px;
    
}
body {
margin: auto;    
}

table {
    border-collapse: collapse;
    margin: auto;
    font-size: 1.5em;
    min-width: 400px;
    font-weight: bold;
    margin-bottom: 10px;
}

tr {
    background-color: rgb(179, 215, 215);
    text-align: center;
    padding: 15px 15px;
    border-bottom: 1px solid black;
    border-top: 1px solid black ;
    
}

td {
    border-left:  1px solid rgb(60, 58, 58);
    border-right:  1px solid rgb(60, 58, 58);
    padding: 15px 15px;
    cursor: pointer;
    
}

/* td:hover {
    background-color: gray;
} */

.empty {
    background-color: rgb(142, 207, 207)  
}

.hide {
    display: none;
}